<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<div th:replace="fragments/fragment :: header"></div>

	<div class="container">
		<div class="row">

			<div class="col-md-8 col-md-offset-2">
			<h1 class="page-header">Cari Mahasiswa</h1>
				<form action="/mahasiswa/cari" method="GET">

					<div class="form-group">
						<label for="universitas">Universitas</label>
						<select class="form-control" name="universitas" th:readonly="${not #lists.isEmpty(fakultas)} ? 'true' : 'false'">
							<option th:each="universitas : ${universitas}" th:value="${universitas.id}" th:text="${universitas.nama_univ}" th:selected="${universitas.id} == ${id_univ}"/>
						</select>
					</div>	
					<div class="form-group">
						<label for="fakultas">Fakultas</label>
						<select class="form-control" name="fakultas" th:readonly="${not #lists.isEmpty(prodi)} ? 'true' : 'false'">
							<option th:each="fakultas : ${fakultas}" th:value="${fakultas.id}" th:text="${fakultas.nama_fakultas}" th:selected="${fakultas.id} == ${id_fakultas}"/>
						</select>
					</div>	

					<div class="form-group">
						<label for="prodi">Prodi</label>
						<select class="form-control" name="prodi">
							<option th:each="prodi : ${prodi}" th:value="${prodi.id}" th:text="${prodi.nama_prodi}" th:selected="${prodi.id} == ${id_prodi}"/>
						</select>
					</div>	


					<div class="form-group">
						<button type="submit" class="btn btn-primary" name="action" value="save">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div th:replace="fragments/fragment :: footer"></div>

</body>

</html>

